<div class="container">
   
      <div id="contenido" class="row intro">
        <div class="container intro-agenda">
          <div class="pull-left logotipo top-buffer-70">
            <img src="img/agenda-digital-logotipo-intro.png"/>
          </div>
          <div class="pull-left logo top-buffer-70">
            <img src="img/agenda-digital_logo-intro.png"/>
          </div>
          <div class="pull-left texto top-buffer-70">
            <img src="img/agenda-digital_texto-intro.png" class="hide"/>
            Es una hoja de ruta para avanzar hacia un desarrollo inclusivo y sostenible a través de la Tecnologías y la Comunicación
            <a href class="btn agenda-download"><i class="icon-download-alt"></i> Descarga la Agenda</a>
          </div>
        </div>
        <div class="container actions">
          <div id="navbar2" class="menu-ejes-estrategicos">
            <ul class="nav navbar-nav">
              <li><div class="eje-tab derechos" data-toggle="derechos"></div><p>Derechos</p></li>
              <li><div class="eje-tab conectividad" data-toggle="conectividad"></div><p>Conectividad</p></li>
              <li><div class="eje-tab gobierno" data-toggle="gobierno"></div><p>Gobierno</p></li>
              <li><div class="eje-tab economia" data-toggle="economia"></div><p>Economia</p></li>
              <li><div class="eje-tab competencia" data-toggle="competencia"></div><p>Competencias</p></li>
            </ul>

          </div>
          <div class="clearfix"></div>
        </div>
      </div>

      <div class="container">
          
          <div class="progress-title">
            <p><strong>Seguimiento</strong> Conoce el avance de las medidas de la agenda</p>

          </div>
          <div class="progress-graph" data-toggle="popover" title="Cumplimiento Derechos">
            <div class="title">
              <div class="nombre-eje pull-left">Derechos</div>
              <div class="ico-eje derechos pull-right"></div>
            </div>
            <div class="clearfix"></div>
            <div class="progress-radial progress-der-25">
              <div class="overlay">25%</div>
            </div>
            <div class="numeros">
              <div class="medidas pull-left">
                <p class="numero">10</p>
                <p class="tipo">Medidas</p>
              </div>
              <div class="desarrollo pull-left">
                <p class="numero">06</p>
                <p class="tipo">En Desarrollo</p>
              </div>
              <div class="iniciar pull-left">
                <p class="numero">04</p>
                <p class="tipo">Por Iniciar</p>
              </div>
            </div>
          </div>

          <div class="progress-graph" data-toggle="popover" title="Cumplimiento Conectividad">
            <div class="title">
              <div class="nombre-eje pull-left">Conectividad</div>
              <div class="ico-eje conectividad pull-right"></div>
            </div>
            <div class="clearfix"></div>
            <div class="progress-radial progress-con-33">
              <div class="overlay">33%</div>
            </div>
            <div class="numeros">
              <div class="medidas pull-left">
                <p class="numero">10</p>
                <p class="tipo">Medidas</p>
              </div>
              <div class="desarrollo pull-left">
                <p class="numero">06</p>
                <p class="tipo">En Desarrollo</p>
              </div>
              <div class="iniciar pull-left">
                <p class="numero">04</p>
                <p class="tipo">Por Iniciar</p>
              </div>
            </div>
          </div>

          <div class="progress-graph"  data-toggle="popover" title="Cumplimiento Gobierno">
            <div class="title">
              <div class="nombre-eje pull-left">Gobierno</div>
              <div class="ico-eje gobierno pull-right"></div>
            </div>
            <div class="clearfix"></div>
            <div class="progress-radial progress-gob-59">
              <div class="overlay">59%</div>
            </div>
            <div class="numeros">
              <div class="medidas pull-left">
                <p class="numero">10</p>
                <p class="tipo">Medidas</p>
              </div>
              <div class="desarrollo pull-left">
                <p class="numero">06</p>
                <p class="tipo">En Desarrollo</p>
              </div>
              <div class="iniciar pull-left">
                <p class="numero">04</p>
                <p class="tipo">Por Iniciar</p>
              </div>
            </div>
          </div>

          <div class="progress-graph" data-toggle="popover" title="Cumplimiento Economía">
            <div class="title">
              <div class="nombre-eje pull-left">Economía</div>
              <div class="ico-eje economia pull-right"></div>
            </div>
            <div class="clearfix"></div>
            <div class="progress-radial progress-eco-22">
              <div class="overlay">22%</div>
            </div>
            <div class="numeros">
              <div class="medidas pull-left">
                <p class="numero">10</p>
                <p class="tipo">Medidas</p>
              </div>
              <div class="desarrollo pull-left">
                <p class="numero">06</p>
                <p class="tipo">En Desarrollo</p>
              </div>
              <div class="iniciar pull-left">
                <p class="numero">04</p>
                <p class="tipo">Por Iniciar</p>
              </div>
            </div>
          </div>

          <div class="progress-graph" data-toggle="popover" title="Cumplimiento Competencias">
            <div class="title">
              <div class="nombre-eje pull-left">Competencias</div>
              <div class="ico-eje competencia pull-right"></div>
            </div>
            <div class="clearfix"></div>
            <div class="progress-radial progress-com-71">
              <div class="overlay">71%</div>
            </div>
            <div class="numeros">
              <div class="medidas pull-left">
                <p class="numero">10</p>
                <p class="tipo">Medidas</p>
              </div>
              <div class="desarrollo pull-left">
                <p class="numero">06</p>
                <p class="tipo">En Desarrollo</p>
              </div>
              <div class="iniciar pull-left">
                <p class="numero">04</p>
                <p class="tipo">Por Iniciar</p>
              </div>
            </div>
          </div>
        
      </div>

      <div class="row bottomline">
        
        <div class="col-xs-4 col-md-4 col-lg-4 notas">
          <h3>Voces</h3>
          <div class="detalle">
            <p>sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt</p>
            <div class="autor">
              <img class="pull-left" src="img/agenda_foto-perfil-01.png"/>
              <div class="pull-left">
                <p>Claudia Santibañez</p>
                <p>Subsecretaria</p>
                <p>Ministerio de Economía</p>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="detalle">
            <p>sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt</p>
            <div class="autor">
              <img class="pull-left" src="img/agenda_foto-perfil-02.png"/>
              <div class="pull-left">
                <p>Claudia Santibañez</p>
                <p>Subsecretaria</p>
                <p>Ministerio de Economía</p>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>

          <h3>Multimedia</h3>
          <div class="multimedia">
            <img src="img/video-sps.jpg"/>
          </div>
        </div>

        <div class="col-xs-4 col-md-4 col-lg-4 actualizaciones">
          <h3>Últimas Actualizaciones</h3>

          <p class="time-ago">hace 5 minutos</p>
          <div class="box actualizacion derechos">
            <p class="titulo">Derechos Para el Desarrollo Digital</p>
            <div class="content">Laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</div>
            <div class="eje"></div>
          </div>
          <p class="time-ago">hace 1 día</p>
          <div class="box actualizacion conectividad">
            <p class="titulo">Gobierno Digital</p>
            <div class="content">Laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</div>
            <div class="eje"></div>
          </div>


        </div>

        <div class="col-xs-4 col-md-4 col-lg-4 noticias">

          <h3>Noticias</h3>

          <div class="noticia">
            <p class="titulo">Valdivia Lanza programa de Municipios Digitales 2016<p>
            <img src="img/noticias-foto-01.png"/>
            <p class="bajada">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
          </div>

          <div class="noticia">
            <p class="titulo">Interior y Segpres alistan aplicación para atencion a Estudiantes<p>
            <img src="img/noticias-foto-02.png"/>
            <p class="bajada">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
          </div>

          
        </div>
      
      </div>

    </div>