<div class="page-content {{medida.eje.nombre}}">
	<div class="container">

		<div class="row detalle-seguimiento">
			<div class="pull-left eje-tab {{medida.eje.nombre}}"></div>
			<h1 ng-bind="medida.eje.titulo">Lorem ipsum</h1>
			<hr>
			<h2 ng-bind="medida.eje.descripcion">dolor sit amet consectetur adipiscing elit</h2>
		</div>
		
		<div class="row fichas detalle-medida">

			<div class="col-xs-12 col-md-8 col-lg-8">

				<div class="mark-down {{medida.eje.nombre}} fa fa-caret-down"></div>
				<div class="titulo-detalle">
					<h2 ng-bind="medida.titulo"></h2>
				</div>

				<div class="contenido">{{medida.descripcion}}<div class="fadeout"></div></div>
				<a href class="ver-mas" ng-click="verMas()"></a>
				<br>

				<div class=" visible-xs panel-group" id="detalle-accordion" role="tablist" aria-multiselectable="true">
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingOne">
				      <h4 class="panel-title">
				        <a role="button" data-toggle="collapse" data-parent="#detalle-accordion" href="javascript:void(0);" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				           Impacto <i class="fa fa-sort-down"></i>
				        </a>
				      </h4>
				    </div>
				    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
				      <div class="panel-body">
				        <p class="impacto" ng-bind-html="medida.impacto"></p>
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingTwo">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#detalle-accordion" href="javascript:void(0);" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				          Hitos  <i class="fa fa-sort-down"></i>
				        </a>
				      </h4>
				    </div>
				    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				      <div class="panel-body">
				        <table class="lista hitos" ng-if="medida.hitos.length">
							<tbody>
								<tr>
									<th></th>
									<th class="thcol">Inicio</th>
									<th class="thcol">Término</th>
									<th class="thcol">Avance</th>
									<th class="thcol">Verificación</th>
								</tr>
								<tr ng-repeat="hito in medida.hitos">
									<td ng-bind="hito.titulo"></td>
									<td ng-bind="hito.inicio"></td>
									<td ng-bind="hito.termino"></td>
									<td>{{hito.avance}}%</td>
									<td><a ng-href="{{hito.verificacion.url}}"><div class="ico-doc ico-doc-{{hito.verificacion.mime}}"></div></a></td>
								</tr>
							</tbody>
						</table>
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingThree">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#detalle-accordion" href="javascript:void(0);" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				          Mesas de Trabajo  <i class="fa fa-sort-down"></i>
				        </a>
				      </h4>
				    </div>
				    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				      <div class="panel-body">
				        <table class="lista mesas" ng-if="medida.mesas.length">
							<tbody>
								<tr>
									<th></th>
									<th>Participantes</th>
									<th>Nº Sesiones</th>
									<th>Periodicidad</th>
								</tr>
								<tr ng-repeat="mesa in medida.mesas">
									<td ng-bind="mesa.titulo"></td>
									<td ng-bind="mesa.participantes"></td>
									<td ng-bind="mesa.sesiones"></td>
									<td ng-bind="mesa.periodicidad"></td>
								</tr>
							</tbody>
						</table>
				      </div>
				    </div>
				  </div>
				</div>

				<div class="hidden-xs">
					<h3>Impacto</h3>
					<p class="impacto" ng-bind-html="medida.impacto"></p>

					<table class="lista hitos" ng-if="medida.hitos.length">
						<tbody>
							<tr>
								<th><h3>Hitos</h3></th>
								<th class="thcol">Inicio</th>
								<th class="thcol">Término</th>
								<th class="thcol">Avance</th>
								<th class="thcol">Verificación</th>
							</tr>
							<tr ng-repeat="hito in medida.hitos">
								<td ng-bind="hito.titulo"></td>
								<td ng-bind="hito.inicio"></td>
								<td ng-bind="hito.termino"></td>
								<td>{{hito.avance}}%</td>
								<td><a ng-href="{{hito.verificacion.url}}"><div class="ico-doc ico-doc-{{hito.verificacion.mime}}"></div></a></td>
							</tr>
						</tbody>
					</table>

					<table class="lista mesas" ng-if="medida.mesas.length">
						<tbody>
							<tr>
								<th><h3>Mesas de Trabajo</h3></th>
								<th>Participantes</th>
								<th>Nº Sesiones</th>
								<th>Periodicidad</th>
							</tr>
							<tr ng-repeat="mesa in medida.mesas">
								<td ng-bind="mesa.titulo"></td>
								<td ng-bind="mesa.participantes"></td>
								<td ng-bind="mesa.sesiones"></td>
								<td ng-bind="mesa.periodicidad"></td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>

			<div class="detalle-lateral col-der col-xs-12 col-md-4 col-lg-4">

				<div class="grafico pull-right">
					<div class="progress-radial progress-{{medida.eje.id}}-{{medida.avance}}">
	          <div class="overlay">{{medida.avance}}%</div>
	        </div>
	      </div>

	      <div class="items">
	      	<div class="item"><h5>Avance de la Medida</h5><p>{{medida.estado_avance}}</p></div>
	      	<div class="item"><h5>Meta</h5><p ng-bind-html="medida.meta"></p></div>
	      	<div class="item"><h5>Territorio</h5><p>{{medida.territorio}}</p></div>
	      	<div class="item"><h5>Responsable</h5><p>{{medida.ministerio}}/{{medida.entidad}}</p></div>
	      	<div class="item"><h5>Presupuesto</h5><p>${{medida.presupuesto}} MM</p></div>
	      	<div class="item"><h5>Plazo</h5><p>{{medida.plazo}}</p></div>
	      	<div class="item"><h5>Otros Actores</h5><p>{{medida.otros_actores.join(', ')}}</p></div>
	      	<div class="item"><h5>Etiquetas</h5><p><span ng-repeat="t in medida.tags">-{{t}} </span></p></div>
				</div>

			</div>

		</div>

		<div class="hidden-xs row actualizaciones">
			<h3>Últimas Actualizaciones</h3>
		</div>

	</div>
</div>