<div class="container">
   
      <div id="contenido" class="row intro">
        <div class="close close-intro hide" ng-click="closeIntro()"><i class="fa fa-times-circle"></i></div>

        <!-- DESKTOP -->
        <div class="hidden-xs container intro-agenda {{eje.clase}}" ng-include="includes.intro"></div>
        <div class="hidden-xs container actions">
          <div id="navbar2" class="menu-ejes-estrategicos">
            <ul class="nav navbar-nav">
              <li class="bg-derechos derechos first" ng-click="showTab('derechos')"><div class="eje pull-left"></div><p class="pull-left">Derechos</p></li>
              <li class="bg-conectividad conectividad" ng-click="showTab('conectividad')"><div class="eje pull-left"></div><p class="pull-left">Conectividad</p></li>
              <li class="bg-gobierno gobierno" ng-click="showTab('gobierno')"><div class="eje pull-left"></div><p class="pull-left">Gobierno</p></li>
              <li class="bg-economia economia" ng-click="showTab('economia')"><div class="eje pull-left"></div><p class="pull-left">Economia</p></li>
              <li class="bg-competencia competencia last" ng-click="showTab('competencia')"><div class="eje pull-left"></div><p class="pull-left">Competencias</p></li>
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>

        <!-- MOBILE -->
        <div id="intro-agenda" class="visible-m container intro-agenda" ng-include="'include_homeintro.html'"></div>
        <div class="visible-xs container actions">
 

          <div class="panel-group" id="actions-accordion" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default panel-derechos">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a class="collapsed collapse-link" role="button" data-toggle="collapse" data-parent="#actions-accordion" href="javascript:void(0);" data-target="#collapse-uno" aria-expanded="false" aria-controls="collapse-uno">
                    <span class="icon"></span> Derechos
                  </a>
                </h4>
              </div>
              <div id="collapse-uno" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <p class="title-medidas">Medidas</p>
                  <ul>
                    <li>
                      <a href="">
                        <i class="fa fa-circle-o"></i> Lorem ipsum dolor sit amet
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <i class="fa fa-circle-o"></i> Lorem ipsum dolor sit amet
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <i class="fa fa-circle-o"></i> Lorem ipsum dolor sit amet
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <i class="fa fa-circle-o"></i> Lorem ipsum dolor sit amet
                      </a>
                    </li>
                  </ul>

                  <div class="progress-graph" data-toggle="popover" title="Cumplimiento {{eje.nombre.substring(0,eje.nombre.indexOf(' '))}}" ng-class="{'last':$last}">
                    <div class="title">
                      <div class="nombre-eje pull-left">Seguimiento</div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="progress-radial progress-{{eje.codigo}}-{{eje.porcentaje_total}}">
                      <div class="overlay">{{eje.porcentaje_total}}%</div>
                    </div>
                    <div class="numeros">
                      <div class="medidas pull-left">
                        <p class="numero">{{eje.total_medidas}}</p>
                        <p class="tipo">Medidas</p>
                      </div>
                      <div class="desarrollo pull-left">
                        <p class="numero">{{eje.medidas_desarrollo}}</p>
                        <p class="tipo">En Desarrollo</p>
                      </div>
                      <div class="iniciar pull-left">
                        <p class="numero">{{eje.medidas_nuevas}}</p>
                        <p class="tipo">Por Iniciar</p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div><!-- Fin Panel -->

            <div class="panel panel-default panel-conectividad">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a class="collapsed collapse-link" role="button" data-toggle="collapse" data-parent="#actions-accordion" href="javascript:void(0);" data-target="#collapse-dos" aria-expanded="false" aria-controls="collapse-dos">
                    <span class="icon"></span> Conectividad
                  </a>
                </h4>
              </div>
              <div id="collapse-dos" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <p class="title-medidas">Medidas</p>
                  <ul>
                    <li>
                      <a href="">
                        <i class="fa fa-circle-o"></i> Lorem ipsum dolor sit amet
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <i class="fa fa-circle-o"></i> Lorem ipsum dolor sit amet
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <i class="fa fa-circle-o"></i> Lorem ipsum dolor sit amet
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <i class="fa fa-circle-o"></i> Lorem ipsum dolor sit amet
                      </a>
                    </li>
                  </ul>

                  <div class="progress-graph" data-toggle="popover" title="Cumplimiento {{eje.nombre.substring(0,eje.nombre.indexOf(' '))}}" ng-class="{'last':$last}">
                    <div class="title">
                      <div class="nombre-eje pull-left">Seguimiento</div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="progress-radial progress-{{eje.codigo}}-{{eje.porcentaje_total}}">
                      <div class="overlay">{{eje.porcentaje_total}}%</div>
                    </div>
                    <div class="numeros">
                      <div class="medidas pull-left">
                        <p class="numero">{{eje.total_medidas}}</p>
                        <p class="tipo">Medidas</p>
                      </div>
                      <div class="desarrollo pull-left">
                        <p class="numero">{{eje.medidas_desarrollo}}</p>
                        <p class="tipo">En Desarrollo</p>
                      </div>
                      <div class="iniciar pull-left">
                        <p class="numero">{{eje.medidas_nuevas}}</p>
                        <p class="tipo">Por Iniciar</p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div><!-- Fin Panel -->

            <div class="panel panel-default panel-gobierno">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a class="collapsed collapse-link" role="button" data-toggle="collapse" data-parent="#actions-accordion" href="javascript:void(0);" data-target="#collapse-tres" aria-expanded="false" aria-controls="collapse-tres">
                    <span class="icon"></span> Gobierno
                  </a>
                </h4>
              </div>
              <div id="collapse-tres" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <p class="title-medidas">Medidas</p>
                  <ul>
                    <li>
                      <a href="">
                        <i class="fa fa-circle-o"></i> Lorem ipsum dolor sit amet
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <i class="fa fa-circle-o"></i> Lorem ipsum dolor sit amet
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <i class="fa fa-circle-o"></i> Lorem ipsum dolor sit amet
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <i class="fa fa-circle-o"></i> Lorem ipsum dolor sit amet
                      </a>
                    </li>
                  </ul>

                  <div class="progress-graph" data-toggle="popover" title="Cumplimiento {{eje.nombre.substring(0,eje.nombre.indexOf(' '))}}" ng-class="{'last':$last}">
                    <div class="title">
                      <div class="nombre-eje pull-left">Seguimiento</div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="progress-radial progress-{{eje.codigo}}-{{eje.porcentaje_total}}">
                      <div class="overlay">{{eje.porcentaje_total}}%</div>
                    </div>
                    <div class="numeros">
                      <div class="medidas pull-left">
                        <p class="numero">{{eje.total_medidas}}</p>
                        <p class="tipo">Medidas</p>
                      </div>
                      <div class="desarrollo pull-left">
                        <p class="numero">{{eje.medidas_desarrollo}}</p>
                        <p class="tipo">En Desarrollo</p>
                      </div>
                      <div class="iniciar pull-left">
                        <p class="numero">{{eje.medidas_nuevas}}</p>
                        <p class="tipo">Por Iniciar</p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div><!-- Fin Panel -->

            <div class="panel panel-default panel-economia">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a class="collapsed collapse-link" role="button" data-toggle="collapse" data-parent="#actions-accordion" href="javascript:void(0);" data-target="#collapse-cuatro" aria-expanded="false" aria-controls="collapse-cuatro">
                    <span class="icon"></span> Economía
                  </a>
                </h4>
              </div>
              <div id="collapse-cuatro" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <p class="title-medidas">Medidas</p>
                  <ul>
                    <li>
                      <a href="">
                        <i class="fa fa-circle-o"></i> Lorem ipsum dolor sit amet
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <i class="fa fa-circle-o"></i> Lorem ipsum dolor sit amet
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <i class="fa fa-circle-o"></i> Lorem ipsum dolor sit amet
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <i class="fa fa-circle-o"></i> Lorem ipsum dolor sit amet
                      </a>
                    </li>
                  </ul>

                  <div class="progress-graph" data-toggle="popover" title="Cumplimiento {{eje.nombre.substring(0,eje.nombre.indexOf(' '))}}" ng-class="{'last':$last}">
                    <div class="title">
                      <div class="nombre-eje pull-left">Seguimiento</div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="progress-radial progress-{{eje.codigo}}-{{eje.porcentaje_total}}">
                      <div class="overlay">{{eje.porcentaje_total}}%</div>
                    </div>
                    <div class="numeros">
                      <div class="medidas pull-left">
                        <p class="numero">{{eje.total_medidas}}</p>
                        <p class="tipo">Medidas</p>
                      </div>
                      <div class="desarrollo pull-left">
                        <p class="numero">{{eje.medidas_desarrollo}}</p>
                        <p class="tipo">En Desarrollo</p>
                      </div>
                      <div class="iniciar pull-left">
                        <p class="numero">{{eje.medidas_nuevas}}</p>
                        <p class="tipo">Por Iniciar</p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div><!-- Fin Panel -->

            <div class="panel panel-default panel-competencia">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a class="collapsed collapse-link" role="button" data-toggle="collapse" data-parent="#actions-accordion" href="javascript:void(0);" data-target="#collapse-cinco" aria-expanded="false" aria-controls="collapse-cinco">
                    <span class="icon"></span> Competencias
                  </a>
                </h4>
              </div>
              <div id="collapse-cinco" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <p class="title-medidas">Medidas</p>
                  <ul>
                    <li>
                      <a href="">
                        <i class="fa fa-circle-o"></i> Lorem ipsum dolor sit amet
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <i class="fa fa-circle-o"></i> Lorem ipsum dolor sit amet
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <i class="fa fa-circle-o"></i> Lorem ipsum dolor sit amet
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <i class="fa fa-circle-o"></i> Lorem ipsum dolor sit amet
                      </a>
                    </li>
                  </ul>

                  <div class="progress-graph" data-toggle="popover" title="Cumplimiento {{eje.nombre.substring(0,eje.nombre.indexOf(' '))}}" ng-class="{'last':$last}">
                    <div class="title">
                      <div class="nombre-eje pull-left">Seguimiento</div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="progress-radial progress-{{eje.codigo}}-{{eje.porcentaje_total}}">
                      <div class="overlay">{{eje.porcentaje_total}}%</div>
                    </div>
                    <div class="numeros">
                      <div class="medidas pull-left">
                        <p class="numero">{{eje.total_medidas}}</p>
                        <p class="tipo">Medidas</p>
                      </div>
                      <div class="desarrollo pull-left">
                        <p class="numero">{{eje.medidas_desarrollo}}</p>
                        <p class="tipo">En Desarrollo</p>
                      </div>
                      <div class="iniciar pull-left">
                        <p class="numero">{{eje.medidas_nuevas}}</p>
                        <p class="tipo">Por Iniciar</p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div><!-- Fin Panel -->

          </div>


          <div class="clearfix"></div>
        </div>
 
      </div>

      <!-- DESKTOP -->
      <div class="container hidden-xs">
          
        <div ng-include="'include_seguimientoejes.html'"></div>
        
      </div>

      <div class="row bottomline">
        <!-- DESKTOP -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 notas hidden-xs">
          <h3>Voces</h3>
          <div class="detalle">
            <p>sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt</p>
            <div class="autor">
              <img class="pull-left" src="img/agenda_foto-perfil-01.png"/>
              <div class="pull-left">
                <p><strong>Pedro Huichalaf Roa</strong></p>
                <p>Subsecretario</p>
                <p>Ministerio de Transportes y de Telecomunicaciones</p>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="detalle">
            <p>sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt</p>
            <div class="autor">
              <img class="pull-left" src="img/agenda_foto-perfil-02.png"/>
              <div class="pull-left">
                <p><strong>Patricia Silva Melendez</strong></p>
                <p>Subsecretaria</p>
                <p>Ministerio Secretaría General de la Presidencia</p>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>

          <!-- <h3>Multimedia</h3>
          <div class="multimedia">
            <img src="img/video-sps.jpg"/>
          </div> -->
        </div>
        <!-- DESKTOP -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 actualizaciones hidden-xs">
          <h3>Últimas Actualizaciones</h3>

          <p class="time-ago">hace 5 minutos</p>
          <div class="box actualizacion derechos">
            <p class="titulo">Derechos Para el Desarrollo Digital</p>
            <div class="content">Laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</div>
            <div class="eje"></div>
          </div>
          <p class="time-ago">hace 1 día</p>
          <div class="box actualizacion conectividad">
            <p class="titulo">Gobierno Digital</p>
            <div class="content">Laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</div>
            <div class="eje"></div>
          </div>


        </div>
        <!-- DESKTOP -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 noticias hidden-xs">

          <h3>Noticias</h3>
          <!-- <div ng-include="'include_noticias.html'"></div> -->

          <!-- NOTICIAS PROVISORIAS / BORRAR -->
          <div class="listado noticias">
            <div class="noticia">
              <p class="titulo">Lorem ipsum dolor</p>
              <img src=""/>
              <p class="bajada">Donec accumsan iaculis turpis. Nam porta enim sed blandit blandit...</p>
              <a title="Enlace al sitio de la noticia" ng-href="#/noticias/{{notice.id}}">Ir al sitio de la noticia</a>
            </div>
            <div class="noticia">
              <p class="titulo">Sit amet</p>
              <img src=""/>
              <p class="bajada">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
              <a title="Enlace al sitio de la noticia" ng-href="#/noticias/{{notice.id}}">Ir al sitio de la noticia</a>
            </div>
          </div>
          <!-- FIN NOTICIAS PROVISORIAS / BORRAR -->

        </div>
      
      </div>

    </div>

    <script id="popover_template" type="text/html">
      <ul>
        <li>Laudantium, totam rem aperiam, eaque ipsa quae</li>
        <li>consectetur adipiscing elit, sed do eiusmod tempor incididunt</li>
        <li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed</li>
      </ul>
    </script>

    <script id="detalle_template" type="text/html">
      <div class="col-xs-3 izq">
        <div class="ico-eje"></div>
        <h1></h1>
        <p>Una oferta de valor para la ciudadanía</p>
      </div>
      <div class="col-xs-3 cent">
        <div><p class="pull-left">Masificar el uso de los servicios en línea del Estado y garantizar su calidad</p><i class="pull-right fa fa-play"></i></div>
        <div class="active"><p class="pull-left">Apoyar la políticas sectoriales del Estado mediante uso de tecnologías</p><i class="pull-right fa fa-play"></i></div>
        <div><p class="pull-left">Fortalecer un estado abierto y transparente</p><i class="pull-right fa fa-play"></i></div>
        <div><p class="pull-left">Promover un Estado más dinámico e innovador</p><i class="pull-right fa fa-play"></i></div>
      </div>
      <div class="col-xs-6 der">        
        <table>
          <tr>
            <td><i class="fa fa-circle-o"></i></td><td class="texto">Elaboración de una estrategia de ciberseguridad</td>
          </tr>
          <tr>
            <td><i class="fa fa-circle-o"></i></td><td class="texto">Sistema de informatización de la Red Asistencias: Ficha Médica Electrónica</td>
          </tr>
          <tr>
            <td><i class="fa fa-circle-o"></i></td><td class="texto">Monitoreo a distancia de personas con enfermedades crónicas complejas</td>
          </tr>
          <tr>
            <td><i class="fa fa-circle-o"></i></td><td class="texto">Plan de mejoramiento de la plataforma tecnológica de FONASA</td>
          </tr>
          <tr>
            <td><i class="fa fa-circle-o"></i></td><td class="texto">Sistema integral de Información y Atención Ciudadana (SIAC)</td>
          </tr>
          <tr>
            <td><i class="fa fa-circle-o"></i></td><td class="texto">Sistema de vigilancia en salud pública y alertas sanitarias</td>
          </tr>
          <tr>
            <td><i class="fa fa-circle-o"></i></td><td class="texto">Siste,a de información para la gestion de emergencia y desastre</td>
          </tr>

        </table>
      </div>
    </script>

