<!-- <div class="col-xs-3 izq">
  <div class="ico-eje {{eje.clase}}" style="-webkit-filter: brightness(10);"></div>
  <h1 ng-bind="eje.nombre"></h1>
  <p ng-bind="eje.nombre"></p>
</div>

<div class="col-xs-3 cent">
  <div ng-class='{active: $index==idx_medidas}' ng-href='#' ng-click='showCont($index)' ng-repeat="linea in eje.lineas_accion">
    <p class='pull-left'>{{linea.nombre}}</p><i class='pull-right fa fa-play'></i>
  </div>
</div>

<div class="col-xs-6 medidas der">        
  <table>
    <tbody>
      <tr ng-repeat="medida in eje.lineas_accion[idx_medidas].medidas">
        <td><i class="fa fa-circle-o"></i></td><td class="texto">{{medida.nombre}}</td>
      </tr>
    </tbody>
  </table>
</div> -->

<div class="col-xs-3 izq">
        <div class="ico-eje"></div>
        <h1>Título</h1>
        <p>Una oferta de valor para la ciudadanía</p>
      </div>
      <div class="col-xs-3 cent">
        <div><p class="pull-left">Masificar el uso de los servicios en línea del Estado y garantizar su calidad</p><i class="pull-right fa fa-play"></i></div>
        <div class="active"><p class="pull-left">Apoyar la políticas sectoriales del Estado mediante uso de tecnologías</p><i class="pull-right fa fa-play"></i></div>
        <div><p class="pull-left">Fortalecer un estado abierto y transparente</p><i class="pull-right fa fa-play"></i></div>
        <div><p class="pull-left">Promover un Estado más dinámico e innovador</p><i class="pull-right fa fa-play"></i></div>
      </div>
      <div class="col-xs-6 medidas der">        
        <table>
          <tr>
            <td><i class="fa fa-circle-o"></i></td><td class="texto">Elaboración de una estrategia de ciberseguridad</td>
          </tr>
          <tr>
            <td><i class="fa fa-circle-o"></i></td><td class="texto">Sistema de informatización de la Red Asistencias: Ficha Médica Electrónica</td>
          </tr>
          <tr>
            <td><i class="fa fa-circle-o"></i></td><td class="texto">Monitoreo a distancia de personas con enfermedades crónicas complejas</td>
          </tr>
          <tr>
            <td><i class="fa fa-circle-o"></i></td><td class="texto">Plan de mejoramiento de la plataforma tecnológica de FONASA</td>
          </tr>
          <tr>
            <td><i class="fa fa-circle-o"></i></td><td class="texto">Sistema integral de Información y Atención Ciudadana (SIAC)</td>
          </tr>
          <tr>
            <td><i class="fa fa-circle-o"></i></td><td class="texto">Sistema de vigilancia en salud pública y alertas sanitarias</td>
          </tr>
          <tr>
            <td><i class="fa fa-circle-o"></i></td><td class="texto">Siste,a de información para la gestion de emergencia y desastre</td>
          </tr>

        </table>
      </div>